<div class="container">
   
    <h3>Links</h3>

    <a  target="_blank" href="{{ env.urlPrefix+'/screen' }}" class="btn btn-primary mx-3  auth-link text-light">Main Screen  </a>

    <a target="_blank" href="{{ env.urlPrefix+'/room_screen' }}" class="btn btn-primary mx-3 auth-link text-light">Room Screen</a>

    <a target="_blank" href="{{ env.urlPrefix+'/issue_q' }}" class="btn btn-primary mx-3 auth-link text-light">Issue Q</a>

    <a target="_blank" href="{{ env.urlPrefix+'/check_q' }}" class="btn btn-primary mx-3 auth-link text-light">Check Q</a>

</div>